body {
    margin:0;
    padding:0;
	min-height: 350px;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

.footer {
	width: 100%;
	font-size: smaller;
	overflow: none;
	color: #A0A0A0;
    position: fixed;
    bottom: 0;
    height: 30px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
    border-width: 1px;  
    border-top-style:groove;
	border-bottom-color: #A0A0A0;
	background-color: #FFFFFF;

}
